venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.vscode/
.idea/

*.log

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

*.jpe
**/*.jpg
*.jpee
**/*.jpeg
*.gif
**/*.gif
*.png
**/*.png


app/yolo-coco/yolov3.weights

start.sh
app/db.py

