venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.vscode/
.idea/

*.log

.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

app/static/uploaded_images/*.jpg
app/static/uploaded_images/**/*.jpg
app/static/uploaded_images/*.jpeg
app/static/uploaded_images/**/*.jpeg
app/static/uploaded_images/*.gif
app/static/uploaded_images/**/*.gif
app/static/uploaded_images/*.png
app/static/uploaded_images/**/*.png


app/yolo-coco/yolov3.weights

cookie
