<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show uploaded image</title>
</head>
<body>
    <div>
        <hr><h2>Original image</h2>
        <img src="../static/uploaded_images/{{username}}/{{ user_image }}" alt="User Image">
    </div>
    <div>
        <hr><h2>Processed image</h2>
        <img src="../static/uploaded_images/{{username}}/{{ user_image_pro }}" alt="User Image">
    </div>
<!--    <div>-->
<!--        <br> Thumbnail-->
<!--        <img src="../static/uploaded_images/{{username}}/{{ user_image_thumb }}" alt="User Image">-->
<!--    </div>-->

</body>
</html>