<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show uploaded image</title>
</head>
<body>
    <div>
        <br> Original image
        <img src="../static/uploaded_images/{{ user_image }}" alt="User Image">
    </div>
    <div>
        <br> Processed image
        <img src="../static/uploaded_images/{{ user_image_pro }}" alt="User Image">
    </div>
    <div>
        <br> Thumbnail
        <img src="../static/uploaded_images/{{ user_image_thumb }}" alt="User Image">
    </div>


</body>
</html>