<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('user.login') }}">Login</a>
{#				<a href="{{ url_for('user.register') }}" class="active">Register</a>#}
			</div>
			<form action="{{ url_for('user.register') }}" method="post" autocomplete="off">

                <div>
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
                </div>

                <div>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>

				<input type="submit" value="Register">
                </div>
			</form>
		</div>
	</body>
</html>